*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    height: 4000px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.header{
position: fixed;
width: 100%;
top: 0;
left: 0;
background-color: rgba(223, 178, 96, 0.892);
height: 50px;
z-index: 2;
}
.line{
float: right;
font-style: italic;
font-family: Arial, Helvetica, sans-serif;}
.line li{
    display: inline-block;
    margin: 15px 15px 0px 10px ;
font-size: larger;
}
.line li a{
    text-decoration: none;
    color: azure;
    position: relative;
}
.line li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: white;
    transition: 1s;

}
.line li a:hover{
    color: #5f5c5c;
}
.line li a:hover::after{
    width: 100%;
}
.sonheader{
    width: 300px;
    height: 30px;
    background-color: white;
    margin: 10px 0px 0px 70px;
    border-radius: 20px;
}
.iconsonheader{
    padding: 8px 0px 0px 8px;
}
.divicon{

width: 30px;
height: 30px;
background-color: aliceblue;
margin: -30px 0px 0px 15px;
background-color: rgba(0,0,0,0);
}
.iconheader{
font-size: xx-large;
color: white;
}
/* ///////////////////////////////////end of header//////////////////////////////// */
.mainsection{
width: 100%;
height: 100vh;
background-image: url(../imge/WhatsApp\ Image\ 2024-11-13\ at\ 19.01.41_c2d3c9fc.jpg);
position: relative;
background-size: cover;
top: 50px;
z-index: 1;
}
.mainsection-content{
    width: 60%;
     position: absolute;
     top :50% ;
     left: 50%;
     transform: translate( -50%  , -50% );
     text-align: center;
}
.mainsection-title{
 color: #fff;
    font-size: 60px;
    text-transform: uppercase;
}
.mainsection-p{
    color: #dfdfdf;
    margin: 10px  0px ;
    letter-spacing: 3px;
}
.mainsection-btn{
    width: 150px;
    height: 45px;
    border: 0;
    border-radius: 7px;
    font-size: 20px;
    text-transform: capitalize;
    cursor: pointer;
    background-color: burlywood;
    color: #fff;
    margin-top: 10px;
}
.mainsection-btn:hover{
    opacity: 0.5;
    color: #000000;
}
.mainsection-btn2{
    width: 150px;
    height: 45px;
    border: 0;
    border-radius: 7px;
    font-size: 20px;
    text-transform: capitalize;
    cursor: pointer;
    background-color: burlywood;
    color: #fff;
    margin-left: 20px;
    margin-top: 10px;
}
.mainsection-btn2:hover{
    opacity: 0.5;
    color: #000000;
}
/* /////////////////////////////////////////////////////////////the end of section 1 */

.home2{
width: 100%;
height: 500px;
background-color:white;
margin-top: 100px;
position: relative;
}
.title-home2{
text-align: center;
font-size: 50px;

}
.line-home2{
width: 500px;
height: 4px;
background-color: rgb(158, 126, 83);
margin: auto;
border: #fff;
border-radius: 3px;
}
.box1-home2,.box2-home2,.box3-home2{
    width: 320px;
    height: 220px;
    background-color:white ;
    border: 2px solid rgb(158, 126, 83)
    ;
    float: left;
    margin-left: 100px;
    margin-top: 100px;
    border-radius: 20px;
    padding-top: 105px;
    text-align: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    position: relative;
    z-index: 1; 
}
.box1-home2:hover,.box2-home2:hover,.box3-home2:hover .adress-home2{
    color: white;
}
.box1-home2:hover .talk-home2{
    color: #000000;
}
.box2-home2:hover .talk-home2{
    color: #000000;
}
.box3-home2:hover .talk-home2{
    color: #000000;
}
.box1-home2:hover .a-home2{
    color:rgb(177, 117, 39);
}
.box2-home2:hover .a-home2{
    color:rgb(177, 117, 39);
}
.box3-home2:hover .a-home2{
    color: rgb(177, 117, 39);
}
.icon-box-home2{
    color: burlywood;
    margin-top: -90px;
    box-shadow: #d1d5d8;
font-size: 30px;
}
.adress-home2{
    margin-top: -30px;
    letter-spacing: 1px;
}
.talk-home2{

    margin-top: 20px;
    color: rgb(158, 119, 68);
    font-size: medium;
}
.details{
margin-top: 30px;

}
.a-home2{
    text-decoration: none;
    color: rgb(184, 163, 137);
}

.box1-home2::after{
content: "";
position: absolute;
width: 0;
height: 0;
top: 0;
left: 0;
background-color: rgba(88, 62, 27, 0.644);
border-radius: 12px;
z-index: -1;
}

.box1-home2:hover::after{
    width: 100%;
    height: 100%;
    transition: 1s;
}

.box2-home2::after{
content: "";
position: absolute;
width: 0;
height: 0;
top: 0;
left: 0;
background-color: rgba(88, 62, 27, 0.644);
border-radius: 12px;
z-index: -1;
}
.box2-home2:hover::after{
    width: 100%;
    height: 100%;
    transition: 1s;
}
.box3-home2::after{
content: "";
position: absolute;
width: 0;
height: 0;
top: 0;
left: 0;
background-color: rgba(88, 62, 27, 0.644);
border-radius: 12px;
z-index: -1;
}
.box3-home2:hover::after{
    width: 100%;
    height: 100%;
    transition: 1s;
}

/* 
///////////////////////////////end of home2 */
.home3{

    width: 100%;
    height: 600px;
    background-color: burlywood;
}
.div-titlehome3{
    width: 300px;
    margin: auto;
}
.line-home3{
    width: 100px;
    height: 3px;
    background-color: white;
    margin: 5px 0px 0px 70px ;
border-radius: 1px;
}
 
.img1,.img2,.img3,.img4,.img5,.img6{
width: 300px;
height: 200px;
float: left;
margin: 50px 0px 0px 100px;
position: relative;

}
.img1{
   background-image: url(../imge/WhatsApp\ Image\ 2024-11-13\ at\ 19.01.41_8447fdac.jpg);
    background-size: cover;
    border-radius: 10px;
}
.img2{
    background-image: url(../imge/pexels-chevanon-302899.jpg);
     background-size: cover;
     border-radius: 10px;
 }
 .img3{
    background-image: url(../imge/WhatsApp\ Image\ 2024-11-29\ at\ 17.31.23_a6ed1647.jpg);
     background-size: cover;
     border-radius: 10px;
 }
 .img4{
    background-image: url(../imge/pexels-fotios-photos-1207918.jpg);
     background-size: cover;
     border-radius: 10px;
 }
 .img5{
    background-image: url(../imge/pexels-jayoke-851555.jpg);
     background-size: cover;
     border-radius: 10px;
 }
 .img6{
    background-image: url(../imge/WhatsApp\ Image\ 2024-11-13\ at\ 19.01.41_cb360fd6.jpg);
     background-size: cover;
     border-radius: 10px;
 }
.img3,.img6{
    margin-left: 60px;
}
.img1,.img4{
    margin-left: 190px;
    margin-right: -20px;
}
.img2,.img5{
    margin-left: 50px;
    margin-right: -30px;
}
.img4,.img5,.img6{
    margin-top: 30px;
}
.overlay-home3{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0, 0, 0);
    visibility: hidden;
    border-radius: 10px;
padding: 100px 0px 0px 100px;

}
.iconhome3{


    font-size: 45px;
    color:rgb(177, 131, 47);
background-color: #fff;
    margin: 40px 6px 0px 6px;
    display: inline-block;
border-radius: 5px;

}
.img1:hover .overlay-home3{
    visibility: visible;
transition: all 1s;
background-color: rgba(0,0, 0, 0.5);

}
.img2:hover .overlay-home3{
    visibility: visible;
transition: all 1s;
background-color: rgba(0,0, 0, 0.5);

}
.img3:hover .overlay-home3{
    visibility: visible;
transition: all 1s;
background-color: rgba(0,0, 0, 0.5);

}
.img4:hover .overlay-home3{
    visibility: visible;
transition: all 1s;
background-color: rgba(0,0, 0, 0.5);

}
.img5:hover .overlay-home3{
    visibility: visible;
transition: all 1s;
background-color: rgba(0,0, 0, 0.5);

}
.img6:hover .overlay-home3{
    visibility: visible;
transition: all 1s;
background-color: rgba(0,0, 0, 0.5);
}
.h2-home3{
    color: white;
    position: absolute;
    top: 40px;
    font-size: 30px;
}
.p-home3{
    color: white;
position: absolute;
bottom: 80px;
font-size: 20px;
}
/* -------------//////////////////////end of home3/////////////////////////////////---------------------------------- */
.home4{
    width: 100%;
    height: 700px;
    background-color:white;
    margin-top: 650px;
    position: relative;
    }
    .h1-home4{
        text-align: center;
        font-size: 50px;
    }
    .line-home4{
        width: 100px;
        height: 3px;
        background-color: burlywood;
        margin: auto;
        border-radius: 1px;
    }
    .box1-home4,.box2-home4,.box3-home4,.box4-home4,.box5-home4,.box6-home4{
position: relative;
        width: 320px;
        height: 220px;
        background-color:white ;
        border: 2px solid rgb(158, 126, 83)
        ;
        float: left;
        margin-left: 100px;
        margin-top: 100px;
        border-radius: 20px;
        text-align: center;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
        z-index: 1; 
    }

    .icon-box-home4{
        margin-right: 250px;
        margin-top: 10px;
        color: burlywood;
        box-shadow: #d1d5d8;
    font-size: 30px;
    }
    .adress-home4{
display: inline;
font-size: 30px;
position: absolute;
left: 20px;
top: 20px;
font-style: italic;
    }
    .talk-home4{
        position: absolute;
        top: 130px;
        color: burlywood;
opacity: 0.7;
    }
    .box1-home4:hover .talk-home4{
        color: #000000;
    
    }
.box2-home4:hover .talk-home4{
    color: #000000;

}
.box3-home4:hover .talk-home4{
    color: #000000;

}
.box4-home4:hover .talk-home4{
    color: #000000;

}
.box5-home4:hover .talk-home4{
    color: #000000;

}
.box6-home4:hover .talk-home4{
    color: #000000;
}
.box1-home4:hover .adress-home4{
    color: rgb(201, 144, 70);
}
.box2-home4:hover .adress-home4{
    color: rgb(201, 144, 70);
}
.box3-home4:hover .adress-home4{
    color: rgb(201, 144, 70);
}
.box4-home4:hover .adress-home4{
    color: rgb(201, 144, 70);
}
.box5-home4:hover .adress-home4{
    color: rgb(201, 144, 70);
}
.box6-home4:hover .adress-home4{
    color: rgb(201, 144, 70);
}
    .box1-home4::after{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        left: 0;
        background-color: rgba(88, 62, 27, 0.644);
        border-radius: 18px;
        z-index: -1;
        }
        .box1-home4:hover::after{
            width: 100%;
            height: 100%;
            transition: 1s;
        }
            .box2-home4::after{
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                top: 0;
                left: 0;
                background-color: rgba(88, 62, 27, 0.644);
                border-radius: 18px;
                z-index: -1;
                }
                .box2-home4:hover::after{
                    width: 100%;
                    height: 100%;
                    transition: 1s;
                }
                .box3-home4::after{
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    top: 0;
                    left: 0;
                    background-color: rgba(88, 62, 27, 0.644);
                    border-radius: 18px;
                    z-index: -1;
                    }
                    .box3-home4:hover::after{
                        width: 100%;
                        height: 100%;
                        transition: 1s;
                    }
                    .box4-home4::after{
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 0;
                        top: 0;
                        left: 0;
                        background-color: rgba(88, 62, 27, 0.644);
                        border-radius: 18px;
                        z-index: -1;
                        }
                        .box4-home4:hover::after{
                            width: 100%;
                            height: 100%;
                            transition: 1s;
                        }
                        .box5-home4::after{
                            content: "";
                            position: absolute;
                            width: 0;
                            height: 0;
                            top: 0;
                            left: 0;
                            background-color: rgba(88, 62, 27, 0.644);
                            border-radius: 18px;
                            z-index: -1;
                            }
                            .box5-home4:hover::after{
                                width: 100%;
                                height: 100%;
                                transition: 1s;
                            }
                            .box6-home4::after{
                                content: "";
                                position: absolute;
                                width: 0;
                                height: 0;
                                top: 0;
                                left: 0;
                                background-color: rgba(88, 62, 27, 0.644);
                                border-radius: 18px;
                                z-index: -1;
                                }
                                .box6-home4:hover::after{
                                    width: 100%;
                                    height: 100%;
                                    transition: 1s;
                                }

                                /* /////////////////////end of home4////////////////// */
.container-home5{
    width: 100%;
    height: 400px;
    background-image: url(../imge/2019_12_8_16_29_2_101.jpg);
    background-size: cover;
    margin-top: 100px;
    background-attachment: fixed;
}
.box1-home5,.box2-home5,.box3-home5,.box4-home5{
    width: 220px;
    height: 200px;
    margin:100px 0px 0px 100px;
    float: left;
    padding-left: 50;
}
.icon-home5{
    font-size: 50px;
    color: rgb(95, 60, 14);
}
.h3home5{
    font-size: 30px;
    line-height: 40px;
    color: white;
}
.phome5{
font-size: 20px;
color: white;
}
/*///////////////////////////////////////////////////// end of home 5////////////////////////////////////////////////////////////// */
.home6{
    width: 100%;
    height: 500px;
    background-color: white;
    margin-top: 100px;
position: relative;
}
.container1-home6{
    width: 60%;
    height: inherit;
    background-color: white;
    padding-left: 100px;
    position: relative;
}
.h1-home6{
line-height: 100px;
font-style: italic;
font-size: 50px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.line-home6{
    width: 100px;
    height: 3px;
    background-color: burlywood;
    position: absolute;
    top: 85px;
}
.spraak1-home6{
    width: 70%;
    height: 70px;
    background-color: white;
    position: absolute;
    top: 150px;
}
.p1-home6{
color: rgb(184, 184, 184);
opacity: 0.8;
}
.spraak2-home6,.spraak3-home6,.spraak4-home6,.spraak5-home6{
    width: 50%;
    height: 70px;
    background-color: white;
    position: absolute;
    padding-top: 30px;
}
.spraak2-home6{
    top: 200;
}
.spraak3-home6{
    top: 270px;
}
.spraak4-home6{
    top: 340px;
}
.spraak5-home6{
    top: 420px;
}
.span-home6{
    color: rgb(184, 184, 184);
opacity: 0.8;
}
.icon-home6{
    color: burlywood;
    font-size: larger;
}
/* ///// */
.container2-home6{
    width: 30%;
    height: 500px;
    background-image: url(../imge/WhatsApp\ Image\ 2024-11-13\ at\ 19.01.41_9b903fb5.jpg);
background-size: cover;
    position: absolute;
    top: 20;
    left: 800;
    border-radius: 10px;
}
.yl-container2{
    width: 120px;
    height: 50px;
    margin: 500px 0px 0px 150px;
}
.li-home6{
    width: 18px;
    height: 18px;
    background-color:grey;
    border-radius: 50%;
    float: left;
margin: 10px 8px 0px 8px;
list-style-type: none;
}
.li-home6:hover{
    background-color:rgb(214, 172, 117);
}
/* ///////////////////////////end of home 6*/
.container-home7{
width: 100%;
height: 600px;
margin-top: 50px;
position: relative;
}
.title-home7{
    text-align: center;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: italic;
}
.line-home7{
    width: 150px;
    height: 3px;
    background-color: burlywood;
position: absolute;
top: 55px;
left: 600px;
border-radius: 2px;
}
.box1-home7,.box2-home7,.box3-home7{
    width: 20%;
    height: 400px;
    background-color: white;
border:  2px solid rgb(158, 126, 83);
  border-radius: 10px;  
  float: left;
position: relative;
z-index: 1;
}
.box1-home7{
    margin: 50px 0px 0px 200px;
}
.box2-home7{
    margin: 50px 20px 0px 70px ;
}
.box3-home7{
    margin: 50px 20px 0px 50px ;
}
.h2-home7{
    text-align: center;
    line-height: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.circle1-home7,.circle2-home7,.circle3-home7{
    width: 120px;
    height: 120px;
    background-color:rgb(158, 126, 83);
    border:2px solid rgb(158, 126, 83); 
    border-radius: 50%;
    margin: auto;
}
.h2-circle1,.h2-circle2,.h2-circle3{
    text-align: center;
    font-size: 40px;
    line-height: 80px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.span-circle1,.span-circle2,.span-circle3{
font-size: 50px;
line-height: 2px;
text-align: center;
font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.div-span2{
    width: 70px;
    height: 50px;
    margin:-20px 0px 0px 20px;
    font-family: cursive;
    font-size: 20px;
}
.div-span3{
    width: 70px;
    height: 50px;
    margin:-20px 0px 0px 35px;
    font-family: cursive;
    font-size: 20px;
}
.div-span1{
    width: 70px;
    height: 50px;
    margin:-20px 0px 0px 33px;
    font-family: cursive;
    font-size: 20px;
}


.discribtion-box1{
    width: 80%;
    height: 100px;
    margin: 20px 0px 0px 20px;
    line-height: 40px;
    color: burlywood;
    opacity: 0.7;
    font-style: italic;
    font-weight: 20px;
}
.discribtion-box2{
    width: 80%;
    height: 100px;
    margin: 20px 0px 0px 20px;
    line-height: 40px;
    color: burlywood;
    opacity: 0.7;
    font-style: italic;
    font-weight: 20px;
    }
    .discribtion-box3{
        width: 80%;
        height: 100px;
        margin: 20px 0px 0px 20px;
        line-height: 40px;
        color: burlywood;
        opacity: 0.7;
        font-style: italic;
        font-weight: 20px;
        }
.btn1-box1-home7,.btn2-box2-home7,.btn3-box3-home7{
    width: 150px;
    height: 30px;
    background-color: rgb(228, 202, 169);
    border-radius: 10px;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 60px 0px 0px 20%;
}
.box1-home7:hover .btn1-box1-home7{
    color: white;
    background-color: #000000;
}
.box2-home7:hover .btn2-box2-home7{
    color: white;
    background-color: #000000;
}
.box3-home7:hover .btn3-box3-home7{
    color: white;
    background-color: #000000;
}
.box1-home7::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    right: 0;
    background-color: rgba(88, 62, 27, 0.644);
    border-radius: 8px;
    transition: 1s;
    z-index: -1;
    }
    .box1-home7:hover::after{
        width: 100%;
        height: 100%;
        transition: 1s;
    }
    .box2-home7::after{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        right: 0;
        background-color: rgba(88, 62, 27, 0.644);
        border-radius: 8px;
        transition: 1s;
        z-index: -1;
        }
        .box2-home7:hover::after{
            width: 100%;
            height: 100%;
            transition: 1s;
        }
        .box3-home7::after{
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            top: 0;
            right: 0;
            background-color: rgba(88, 62, 27, 0.644);
            border-radius: 8px;
            transition: 1s;
            z-index: -1;
            }
            .box3-home7:hover::after{
                width: 100%;
                height: 100%;
                transition: 1s;
            }
  /*///////////////////////////////////////////////end ofnhome 7  */
  .container-home8{
    width: 100%;
    height: 500px;
    background-image: url(../imge/WhatsApp\ Image\ 2024-11-29\ at\ 17.31.23_a6ed1647.jpg);
    background-size: cover;
    margin-top: 80px;
    background-attachment: fixed;
    border-radius: 20px;
}
.box1-home8{
    width: 50%;
    height:300px;
padding-left: 130px;
margin-top:150px ;
float: left;
}
.imge-box1-home8{
    width: 100px;
    height: 100px;
    background-image: url(../imge/WhatsApp\ Image\ 2024-12-05\ at\ 08.32.02_107a7c74.jpg);
    border-radius: 50%;
    background-size: cover;
    float: left;
}
.difination1-home8{
    width: 300px;
    height: 100px;
    float: left;
    margin-left: 50px;
}
.name1-home8{
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: italic;
line-height: 70px;
font-size: 30px;
color: white;
}
.job1-home8{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: bisque;
    line-height: 30px;
    font-size: 30px;
}
.talk1-home8{
    width: 400px;
    height: 100px;
    color: white;
  margin-top: 50px;
float: left;
}
.box2-home8{
    width: 50%;
    height:300px;
padding-left: 90px;
margin-top:150px ;
float: left;
}
.imge-box2-home8{
    width: 100px;
    height: 100px;
    background-image: url(../imge/WhatsApp\ Image\ 2024-12-05\ at\ 09.21.29_2156539c.jpg);
    border-radius: 50%;
    background-size: cover;
    float: left;
}
.difination2-home8{
    width: 300px;
    height: 100px;
    float: left;
    margin-left: 50px;
}
.name2-home8{
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: italic;
line-height: 70px;
font-size: 30px;
color: white;
}
.job2-home8{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: bisque;
    line-height: 30px;
    font-size: 30px;
}
.talk2-home8{
    width: 400px;
    height: 100px;
    color: white;
  margin-top: 50px;
float: left;
}
/* //////////////////end of home8///////////////////////////////// */
.container-home9{
width: 100%;
height: 500px;
margin-top: 100px;
}
.h1-home9{
    text-align: center;
    font-size: 40px;
}
.line-home9{
    width: 100px;
    height: 3px;
    background-color: burlywood;
    margin: auto;
    margin-top: 5px;
}
.team1-item,.team2-item,.team3-item{
    float: left;
    background-color: rgba(185, 146, 73, 0.692);
    width: 25%;
    height: 350px;
    margin: 50PX 0px 0PX 150PX;
    padding: 20px 10px;
    text-align: center;
    position: relative;
    border-radius: 20px;
    }
    .team1-item{
        margin-left: 150px;
    }
.team2-item{
    margin-left: 40px ;
}
.team3-item{
    margin-left: 40px;
}

    .team1-item .team-img{
        width: 90%;
        margin: auto;
    }
    .team1-item .team-img img{width: 100%;
    }
    .team2-item .team-img{
        width: 90%;
        margin: auto;
    }
    .team2-item .team-img img{width: 100%;
    }
    .team3-item .team-img{
        width: 90%;
        margin: auto;
    }
    .team3-item .team-img img{width: 100%;
    }
    .team-overlay{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0, 0, 0);
        visibility: hidden;
        
    }
    .team-img{
        position: relative;
    }
    .team-overlay a{
        display: block;
        width: 40px;
        height: 40px;
        background-color: white;
        font-size: 30px;
        margin-left: auto;
        color: burlywood;
    }
    .team-overlay a i{
        line-height: 40px;
    }
    .team1-item:hover .team-overlay{
        visibility: visible;
    transition: all 5s;
    background-color: rgba(0,0, 0, 0.5);
    }
    .team2-item:hover .team-overlay{
        visibility: visible;
    transition: all 5s;
    background-color: rgba(0,0, 0, 0.5);
    }
    .team3-item:hover .team-overlay{
        visibility: visible;
    transition: all 5s;
    background-color: rgba(0,0, 0, 0.5);
    }
    .title-team-info{
line-height: 40px;
font-style: italic;
font-family: Georgia, 'Times New Roman', Times, serif;
color: #fff;
    }
    .pragraph-team-info{
        font-style: italic;
font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .team3-item:hover .title-team-info{
color: #000000;
    }
    .team1-item:hover  .pragraph-team-info{
        color: #fff;
    }
    .team1-item:hover .title-team-info{
        color: #000000;
            }
            .team3-item:hover  .pragraph-team-info{
                color: #fff;
            }
            .team2-item:hover .title-team-info{
                color: #000000;
                    }
                    .team2-item:hover  .pragraph-team-info{
                        color: #fff;
                    }
    /* ///////////////////////////////////the end of hover and the start of after , before//////////////////////////////////////// */
    .team1-item::after{
        content: "";
        position: absolute;
        background-color:rgba(212, 175, 54, 0.425);
        top:0;
        left:0;
    width: 0;
    height: 0;
    border-radius: 0;
    }
    .team1-item:hover::after{
    width: 100%;
    height: 100%;
    transition: 1s;
    background-size: 10px;
    border-radius: 25px;
    }
    
    .team2-item::after{
        content: "";
        position: absolute;
        background-color:rgba(211, 172, 43, 0.479);
        top:0;
        left:0;
    width: 0;
    height: 0;
    border-radius: 0;
    }
    .team2-item:hover::after{
    width: 100%;
    height: 100%;
    transition: 1s;
    background-size: 10px;
    border-radius: 25px;
    }
    .team3-item::after{
        content: "";
        position: absolute;
        background-color:rgba(211, 172, 43, 0.479);
        top:0;
        left:0;
    width: 0;
    height: 0;
    border-radius: 0;
    }
    .team3-item:hover::after{
    width: 100%;
    height: 100%;
    transition: 1s;
    background-size: 10px;
    border-radius: 25px;
    }
    /*////////////////////////////////////////////////////end of home9///////////////////////////////// */
.container10{
width: 100%;
height: 700px;
}
.title-home10{
    text-align: center;
}
.line-home10{
    width: 80px;
    height: 4px;
    background-color: burlywood;
    margin: auto;
    margin-top: 5px;
}
.box1-home10,.box2-home10,.box3-home10 {
    width: 25%;
    height: 550px;
    float: left;
    border: 3px solid burlywood;
    border-radius: 8px;
    margin-right: 2%; /* Margin between boxes */
    margin-top: 30px;
    position: relative;
    z-index: 1;
}
.box1-home10{
    margin-left: 150px;
}
.img1-home10 {
    width: 80%;
    height: 250px;
    background-image: url(../imge/WhatsApp\ Image\ 2024-12-17\ at\ 07.57.18_e00b92e2.jpg);
    background-size: cover;
    margin:  20px auto;
    position: relative;
    border-radius: 5px;
}
.img2-home10 {
    width: 80%;
    height: 250px; 
    background-image: url(../imge/WhatsApp\ Image\ 2024-12-17\ at\ 07.57.18_fcfee6e1.jpg);
    background-size: cover;
    margin:  20px auto;
    position: relative;
    border-radius: 5px;
}
.img3-home10 {
    width: 80%;
    height: 250px; 
    background-image: url(../imge/WhatsApp\ Image\ 2024-12-17\ at\ 17.05.11_b087dad1.jpg);
    background-size: cover;
    margin:  20px auto;
    position: relative;
    border-radius: 5px;
}
.social-links {
    padding: 10px;
    margin-top: -15px;
    text-align: center;
}
.link {
    display: inline-block;
    margin-right: 15px;
}

.link a {
    text-decoration: none;   
}

.link i {
    font-size: 20px;
    color: rgb(155, 120, 74);
    transition:  0.3s;
}
.link p {
    margin-left: 4px;
    font-size: 16px;
    color: #333;
    transition: 0.3s ;
    display: inline;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: italic;
}
.id-home10 h3 {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color:rgb(201, 157, 99);
    margin: 20px 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
.box1-home10:hover .id-home10 h3{
 color: white;
}
.box2-home10:hover .id-home10 h3{
  color: white;
}
.box3-home10:hover .id-home10 h3{
   color: white;
}
.box1-home10:hover .p-home10{
    color: #000000;
}
.box2-home10:hover .p-home10{
    color: #000000;
}

.box3-home10:hover .p-home10{
    color: #000000;
}
.p-home10 {
    font-size: 16px;
    line-height: 1.5;
    color: #5f5c5c;
    padding: 0 30px;
    margin-bottom: 20px;
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.read10 {
    text-align: center;
    font-style: italic;
}
.read10 a {
    text-decoration: none;
    color: rgba(141, 72, 16, 0.589);
    font-size: 16px;
}
.read10 a:hover {
    text-decoration: underline;
}
/* //////// */
.box1-home10::after{
content: "";
position: absolute;
width: 0;
height: 0;
top: 0;
right: 0;
background-color: rgba(88, 62, 27, 0.644);z-index: -1;

}
.box1-home10:hover:after{
    width: 100%;
    height: 100%;
    transition: 1s;
   border-radius: 3px;
}
.box2-home10::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    right: 0;
    background-color: rgba(88, 62, 27, 0.644);  
      z-index: -1;
    }
    .box2-home10:hover:after{
        width: 100%;
        height: 100%;
        transition: 1s;
       border-radius: 3px;
    }

    .box3-home10::after{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        right: 0;
        background-color: rgba(88, 62, 27, 0.644);
        z-index: -1;
        }
        .box3-home10:hover:after{
            width: 100%;
            height: 100%;
            transition: 1s;
           border-radius: 3px;
        }
        /* //////////////////////end of home 10.//////////////////////////////////////// */
        .container-home11{
width: 100%;
height: 350px;
background-color: rgba(184, 142, 87, 0.884);
margin-top: 100px;
border-radius: 5px;
padding-top: 20px;
        }
        .img-home11{
            width: 270px;
            height: 200px;
background-image: url(../imge/WhatsApp\ Image\ 2024-12-17\ at\ 17.05.10_55051f85.jpg);
background-size: cover;
margin: auto;
margin-bottom: 20px;
border-radius: 5px;
        }
        .icons-home11{
            width: 30%;
            height: 50px;
            margin: 10px auto;
          padding-left: 60px;
        }
        .icons-home11 a { 
            width: 60px;
            height: 50px;
            float: left;
        }
        .icons-home11 i {
            font-size: 55px;
           color: antiquewhite;
           margin-right: 10px;
        }
        .icons-home11 i:hover{
            color: rgb(136, 87, 23);
        }
        /* /////////////////////////////////The end /---I hope my project have your admire--------- Engineering Web evelepore=Youssef Farid/////////////////*/